.share {
  margin-top: 15px;
  /* width: 80%; */
  box-shadow: 0 0 5px 10pxrgba(0, 0, 0, 0.137);
  border-radius: 18px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 2px 5px #040c2b47;
  position: relative;
}

.share__container {
  display: flex;
}

.share__right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.share__top {
  display: flex;
  align-items: flex-start;
}

.share__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.share__input {
  resize: none;
  width: 100%;
  border: none;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0,0,0,.15);
  /* border-bottom: 1px solid #ccc; */
}

.share__input:focus {
  outline: none;
}

.share__input-file {
  display: none;
}

.share__image {
  margin-top: 10px;
  width: 95%;
  position: relative;
}

.share__image img {
  width: 100%;
}

.share__image-cancel {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.share__bottom {
  display: flex;
  margin-top: 15px;
}

.share__options{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-right: auto;
}

.share__option{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    transition: 125ms;
    background: rgb(42, 133, 236);


}

.share__option:last-child {
  margin-right: auto;
}



.share__icon{
    /* font-size: 18px; */
    margin-right: 3px;
}

.share__option-text{
  font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
    text-transform: capitalize;
}


.share__file-btn {
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  color: rgb(143, 132, 132)
}